Exercise

In [ ]:
# Exercise 1: Identifying and Handling Missing Data
import pandas as pd

# Sample dataset with missing values
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', None],
    'Age': [24, 30, None, 22, 35],
    'Salary': [48000, None, 57000, None, 60000]
}
df = pd.DataFrame(data)

# Filling missing values and dropping rows
df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Salary'].fillna(df['Salary'].median(), inplace=True)
df.dropna(subset=['Name'], inplace=True)
print('After cleaning:\n', df)

After cleaning:
       Name    Age   Salary
0    Alice  24.00  48000.0
1      Bob  30.00  57000.0
2  Charlie  27.75  57000.0
3    David  22.00  57000.0

/tmp/ipykernel_5886/2538665923.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)
/tmp/ipykernel_5886/2538665923.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(df['Salary'].median(), inplace=True)

In [ ]:
# Exercise 2: Standardizing Categorical Data
# Sample dataset with inconsistent categorical values
data = {
    'Product': ['Laptop', 'Laptop', 'Desktop', 'Tablet', 'Tablet'],
    'Category': ['Electronics', 'electronics', 'Electronics', 'Gadgets', 'gadgets']
}
df = pd.DataFrame(data)

# Standardize category values
df['Category'] = df['Category'].str.capitalize()
print('Standardized Data:\n', df)

Standardized Data:
    Product     Category
0   Laptop  Electronics
1   Laptop  Electronics
2  Desktop  Electronics
3   Tablet      Gadgets
4   Tablet      Gadgets

Practice
- Load a dataset of your choice and identify missing values.
- Implement data transformations to normalize numerical columns.
- Standardize categorical columns and remove duplicates.

Load dataset and identify missing values

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/refs/heads/master/titanic.csv"

df = pd.read_csv(url)

# Hitung jumlah data kosong per kolom
missing_data = df.isnull().sum()
missing_data_percentage = (missing_data / len(df)) * 100

# Gabungkan hasil dalam satu DataFrame
missing_info = pd.DataFrame({
    'Jumlah Data Kosong': missing_data,
    'Persentase Kosong (%)': missing_data_percentage.round(2)
})

# Filter hanya kolom yang memiliki data kosong
missing_info = missing_info[missing_info['Jumlah Data Kosong'] > 0].sort_values(
    by='Jumlah Data Kosong', ascending=False
)

print("Informasi Data Kosong (Missing Values")
print(missing_info)

Informasi Data Kosong (Missing Values
          Jumlah Data Kosong  Persentase Kosong (%)
Cabin                    687                  77.10
Age                      177                  19.87
Embarked                   2                   0.22

In [3]:
df_cleaned = df.copy()

# Penangan kolom Cabin
df_cleaned = df_cleaned.drop(columns=['Cabin'])
print("Kolom 'Cabin' telah dihapus.")

# 2. Penanganan kolom Age
median_age = df_cleaned['Age'].median()
df_cleaned['Age'].fillna(median_age, inplace=True)
print(f"Data kosong di kolom 'Age' diisi dengan Median: {median_age:.2f}")

# 3. Penanganan kolom Embarked
mode_embarked = df_cleaned['Embarked'].mode()[0]
# Gunakan inplace=True di sini boleh
df_cleaned['Embarked'].fillna(mode_embarked, inplace=True)
print(f"Data kosong di kolom 'Embarked' diisi dengan Mode: {mode_embarked}")

# 4. Menghapus kolom yang tidak relevan
df_cleaned = df_cleaned.drop(columns=['Name', 'Ticket', 'PassengerId'])
print("Kolom 'Name', 'Ticket', dan 'PassengerId' telah dihapus.")

print("\nVerifikasi Jumlah Data Kosong Setelah Pembersihan")
print(df_cleaned.isnull().sum())

Kolom 'Cabin' telah dihapus.
Data kosong di kolom 'Age' diisi dengan Median: 28.00
Data kosong di kolom 'Embarked' diisi dengan Mode: S
Kolom 'Name', 'Ticket', dan 'PassengerId' telah dihapus.

Verifikasi Jumlah Data Kosong Setelah Pembersihan
Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

/tmp/ipython-input-914656274.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['Age'].fillna(median_age, inplace=True)
/tmp/ipython-input-914656274.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['Embarked'].fillna(mode_embarked, inplace=True)

Data transformation and normalize numerical columns

In [4]:
print(df_cleaned)
print("[Menggunakan .dtypes]")
print(df_cleaned.dtypes)

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    male  22.0      1      0   7.2500        S
1           1       1  female  38.0      1      0  71.2833        C
2           1       3  female  26.0      0      0   7.9250        S
3           1       1  female  35.0      1      0  53.1000        S
4           0       3    male  35.0      0      0   8.0500        S
..        ...     ...     ...   ...    ...    ...      ...      ...
886         0       2    male  27.0      0      0  13.0000        S
887         1       1  female  19.0      0      0  30.0000        S
888         0       3  female  28.0      1      2  23.4500        S
889         1       1    male  26.0      0      0  30.0000        C
890         0       3    male  32.0      0      0   7.7500        Q

[891 rows x 8 columns]
[Menggunakan .dtypes]
Survived      int64
Pclass        int64
Sex          object
Age         float64
SibSp         int64
Parch         int64
Fare        float64
Embarked     object
dtype: object

In [5]:
from sklearn.preprocessing import StandardScaler

# Normalisasi kolom Age
scaler = StandardScaler()
mean_age = df_cleaned['Age'].mean()
std_age = df_cleaned['Age'].std()
df_cleaned['Age'] = scaler.fit_transform(df_cleaned[['Age']])
print("Kolom 'Age' telah di-Standarisasi (Z-Score Scaling).")
print("\nKeterangan:")
print(f"Nilai Z-Score 0 berarti usia {mean_age:.2f} tahun.")
print(f"Nilai Z-Score 1 berarti usia {mean_age + std_age:.2f} tahun (μ + 1σ).")
print(f"Nilai Z-Score -1 berarti usia {mean_age - std_age:.2f} tahun (μ - 1σ).")

# Normalisasi kolom Fare
df_cleaned['Fare'] = np.log1p(df_cleaned['Fare'])
print("Kolom 'Fare' telah di-Transformasi Logaritmik.")

# Normalisasi kolo SibSp dan Parch (FamilySize)
df_cleaned['FamilySize'] = df_cleaned['SibSp'] + df_cleaned['Parch'] + 1
print("Fitur 'FamilySize' baru dibuat.")

df_cleaned = df_cleaned.drop(columns=['SibSp', 'Parch'])
print("Kolom 'SibSp' dan 'Parch' telah dihapus.")


print("\nLima baris pertama data setelah Transformasi:")
print(df_cleaned.head())
print("\nRingkasan statistik 'Age' dan 'Fare' setelah transformasi:")
print(df_cleaned[['Age', 'Fare']].describe().T)

Kolom 'Age' telah di-Standarisasi (Z-Score Scaling).

Keterangan:
Nilai Z-Score 0 berarti usia 29.36 tahun.
Nilai Z-Score 1 berarti usia 42.38 tahun (μ + 1σ).
Nilai Z-Score -1 berarti usia 16.34 tahun (μ - 1σ).
Kolom 'Fare' telah di-Transformasi Logaritmik.
Fitur 'FamilySize' baru dibuat.
Kolom 'SibSp' dan 'Parch' telah dihapus.

Lima baris pertama data setelah Transformasi:
   Survived  Pclass     Sex       Age      Fare Embarked  FamilySize
0         0       3    male -0.565736  2.110213        S           2
1         1       1  female  0.663861  4.280593        C           2
2         1       3  female -0.258337  2.188856        S           1
3         1       1  female  0.433312  3.990834        S           2
4         0       3    male  0.433312  2.202765        S           1

Ringkasan statistik 'Age' dan 'Fare' setelah transformasi:
      count          mean       std       min       25%       50%       75%  \
Age   891.0  2.272780e-16  1.000562 -2.224156 -0.565736 -0.104637  0.433312
Fare  891.0  2.962246e+00  0.969048  0.000000  2.187218  2.737881  3.465736

           max
Age   3.891554
Fare  6.240917

Standarize categorical column and removes duplicates

In [6]:
# Penanganan kolom Sex dan Embarked
df_final_clean = df_cleaned
df_final_clean = pd.get_dummies(df_final_clean, columns=['Sex', 'Embarked'], drop_first=True)
print("Kolom 'Sex' dan 'Embarked' di-One-Hot Encode.")

# Hapus Duplikat
initial_rows = len(df_final_clean)
df_final_clean.drop_duplicates(inplace=True)
duplicates_removed = initial_rows - len(df_final_clean)
print(f"{duplicates_removed} Duplikat baris dihapus.")

# Hasil
print("\nDataFrame Akhir (Siap Model):")
print(df_final_clean.head())
print("\nInformasi Tipe Data Final:")
df_final_clean.info()

Kolom 'Sex' dan 'Embarked' di-One-Hot Encode.
117 Duplikat baris dihapus.

DataFrame Akhir (Siap Model):
   Survived  Pclass       Age      Fare  FamilySize  Sex_male  Embarked_Q  \
0         0       3 -0.565736  2.110213           2      True       False
1         1       1  0.663861  4.280593           2     False       False
2         1       3 -0.258337  2.188856           1     False       False
3         1       1  0.433312  3.990834           2     False       False
4         0       3  0.433312  2.202765           1      True       False

   Embarked_S
0        True
1       False
2        True
3        True
4        True

Informasi Tipe Data Final:
<class 'pandas.core.frame.DataFrame'>
Index: 774 entries, 0 to 890
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Survived    774 non-null    int64
 1   Pclass      774 non-null    int64
 2   Age         774 non-null    float64
 3   Fare        774 non-null    float64
 4   FamilySize  774 non-null    int64
 5   Sex_male    774 non-null    bool
 6   Embarked_Q  774 non-null    bool
 7   Embarked_S  774 non-null    bool
dtypes: bool(3), float64(2), int64(3)
memory usage: 38.5 KB

In [7]:
filename = 'titanic_processed_final.csv'
df_final_clean.to_csv(filename, index=False)

HomeWork

In [8]:
url1 = "https://raw.githubusercontent.com/BagusMukhamadMuslim/PraktikumBigData/refs/heads/main/global%20air%20pollution%20dataset.csv"

df1 = pd.read_csv(url1)
print("[Informasi Awal Dataset]")

print(df1.head())
df1.info()

[Informasi Awal Dataset]
              Country              City  AQI Value AQI Category  CO AQI Value  \
0  Russian Federation        Praskoveya         51     Moderate             1
1              Brazil  Presidente Dutra         41         Good             1
2               Italy   Priolo Gargallo         66     Moderate             1
3              Poland         Przasnysz         34         Good             1
4              France          Punaauia         22         Good             0

  CO AQI Category  Ozone AQI Value Ozone AQI Category  NO2 AQI Value  \
0            Good               36               Good              0
1            Good                5               Good              1
2            Good               39               Good              2
3            Good               34               Good              0
4            Good               22               Good              0

  NO2 AQI Category  PM2.5 AQI Value PM2.5 AQI Category
0             Good               51           Moderate
1             Good               41               Good
2             Good               66           Moderate
3             Good               20               Good
4             Good                6               Good
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23463 entries, 0 to 23462
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             23036 non-null  object
 1   City                23462 non-null  object
 2   AQI Value           23463 non-null  int64
 3   AQI Category        23463 non-null  object
 4   CO AQI Value        23463 non-null  int64
 5   CO AQI Category     23463 non-null  object
 6   Ozone AQI Value     23463 non-null  int64
 7   Ozone AQI Category  23463 non-null  object
 8   NO2 AQI Value       23463 non-null  int64
 9   NO2 AQI Category    23463 non-null  object
 10  PM2.5 AQI Value     23463 non-null  int64
 11  PM2.5 AQI Category  23463 non-null  object
dtypes: int64(5), object(7)
memory usage: 2.1+ MB

In [9]:
print("\nMenghitung Duplikat")
duplicates_count = df1.duplicated().sum()
if duplicates_count > 0:
    df1.drop_duplicates(inplace=True)
    print(f"Jumlah duplikat yang ditemukan dan dihapus: {duplicates_count}")
    print(f"Bentuk data setelah penghapusan duplikat: {df1.shape}")
else:
    print("Tidak ditemukan baris duplikat.")

Menghitung Duplikat
Tidak ditemukan baris duplikat.

In [10]:
# Hitung jumlah data kosong per kolom
missing_data = df1.isnull().sum()
missing_data_percentage = (missing_data / len(df1)) * 100

# Gabungkan hasil dalam satu DataFrame
missing_info = pd.DataFrame({
    'Jumlah Data Kosong': missing_data,
    'Persentase Kosong (%)': missing_data_percentage.round(2)
})

# Filter hanya kolom yang memiliki data kosong
missing_info = missing_info[missing_info['Jumlah Data Kosong'] > 0].sort_values(
    by='Jumlah Data Kosong', ascending=False
)

print("Informasi Data Kosong (Missing Values")
print(missing_info)

Informasi Data Kosong (Missing Values
         Jumlah Data Kosong  Persentase Kosong (%)
Country                 427                   1.82
City                      1                   0.00

In [11]:
# Menghapus data kosong
initial_rows = len(df1)
df1.dropna(subset = ['Country', 'City'], inplace=True)
rows_dropped = initial_rows - len(df1)
print(f"Baris Awal = ", initial_rows)
print(f"Baris Dihapus = ", rows_dropped)
print(f"Baris Tersisa = ", len(df1))

Baris Awal =  23463
Baris Dihapus =  428
Baris Tersisa =  23035

In [12]:
print("\nKoreksi Tipe Data Numerik")
numerical_cols = [col for col in df1.columns if 'AQI Value' in col]

for col in numerical_cols:
    df1[col] = pd.to_numeric(df1[col], errors='coerce')

# Menghapus baris yang mungkin memiliki NaN setelah konversi (data kotor)
nan_after_coerce = df1[numerical_cols].isnull().sum()
if nan_after_coerce.any():
    cols_to_drop_nan = nan_after_coerce[nan_after_coerce > 0].index.tolist()
    df1.dropna(subset=cols_to_drop_nan, inplace=True)
    print(f"Baris dengan data numerik yang kotor/tidak valid dihapus. Bentuk data baru: {df.shape}")
else:
    print("Tidak ada nilai non-numerik yang ditemukan dan dikoreksi.")

Koreksi Tipe Data Numerik
Tidak ada nilai non-numerik yang ditemukan dan dikoreksi.

In [13]:
# Standarisasi string
categorical_cols = ['Country', 'City', 'AQI Category', 'CO AQI Category', 'Ozone AQI Category', 'NO2 AQI Category', 'PM2.5 AQI Category']

print("\nMenghilangkan spasi ekstra dan mengubah teks menjadi huruf kecil")
for col in categorical_cols:
    df1[col] = df1[col].astype(str).str.strip().str.lower()

Menghilangkan spasi ekstra dan mengubah teks menjadi huruf kecil

In [14]:
from sklearn.preprocessing import MinMaxScaler

print("Kolom Numerik untuk Normalisasi:", numerical_cols)

scaler = MinMaxScaler()

# Menerapkan normalisasi
df_normalized = df1.copy()
df_normalized[numerical_cols] = scaler.fit_transform(df_normalized[numerical_cols])

# Menambahkan kolom-kolom yang dinormalisasi ke DataFrame asli dengan sufiks
for col in numerical_cols:
    df1[f'{col}_Normalized'] = df_normalized[col]

print("\nNilai-nilai AQI telah dinormalisasi (skala [0, 1]).")
print("\nPerbandingan Statistik Kolom Asli dan Normalisasi:")
print(df1[['AQI Value', 'AQI Value_Normalized']].describe())

Kolom Numerik untuk Normalisasi: ['AQI Value', 'CO AQI Value', 'Ozone AQI Value', 'NO2 AQI Value', 'PM2.5 AQI Value']

Nilai-nilai AQI telah dinormalisasi (skala [0, 1]).

Perbandingan Statistik Kolom Asli dan Normalisasi:
          AQI Value  AQI Value_Normalized
count  23035.000000          23035.000000
mean      72.344693              0.134301
std       56.360992              0.114091
min        6.000000              0.000000
25%       39.000000              0.066802
50%       55.000000              0.099190
75%       80.000000              0.149798
max      500.000000              1.000000

In [ ]:
print(df1)

                        Country              City  AQI Value AQI Category  \
0            russian federation        praskoveya         51     moderate
1                        brazil  presidente dutra         41         good
2                         italy   priolo gargallo         66     moderate
3                        poland         przasnysz         34         good
4                        france          punaauia         22         good
...                         ...               ...        ...          ...
23458                     india      gursahaiganj        184    unhealthy
23459                    france            sceaux         50         good
23460                     india          mormugao         50         good
23461  united states of america       westerville         71     moderate
23462                  malaysia            marang         70     moderate

       CO AQI Value CO AQI Category  Ozone AQI Value Ozone AQI Category  \
0                 1            good               36               good
1                 1            good                5               good
2                 1            good               39               good
3                 1            good               34               good
4                 0            good               22               good
...             ...             ...              ...                ...
23458             3            good              154          unhealthy
23459             1            good               20               good
23460             1            good               22               good
23461             1            good               44               good
23462             1            good               38               good

       NO2 AQI Value NO2 AQI Category  PM2.5 AQI Value PM2.5 AQI Category  \
0                  0             good               51           moderate
1                  1             good               41               good
2                  2             good               66           moderate
3                  0             good               20               good
4                  0             good                6               good
...              ...              ...              ...                ...
23458              2             good              184          unhealthy
23459              5             good               50               good
23460              1             good               50               good
23461              2             good               71           moderate
23462              0             good               70           moderate

       AQI Value_Normalized  CO AQI Value_Normalized  \
0                  0.091093                 0.007519
1                  0.070850                 0.007519
2                  0.121457                 0.007519
3                  0.056680                 0.007519
4                  0.032389                 0.000000
...                     ...                      ...
23458              0.360324                 0.022556
23459              0.089069                 0.007519
23460              0.089069                 0.007519
23461              0.131579                 0.007519
23462              0.129555                 0.007519

       Ozone AQI Value_Normalized  NO2 AQI Value_Normalized  \
0                        0.153191                  0.000000
1                        0.021277                  0.010989
2                        0.165957                  0.021978
3                        0.144681                  0.000000
4                        0.093617                  0.000000
...                           ...                       ...
23458                    0.655319                  0.021978
23459                    0.085106                  0.054945
23460                    0.093617                  0.010989
23461                    0.187234                  0.021978
23462                    0.161702                  0.000000

       PM2.5 AQI Value_Normalized
0                           0.102
1                           0.082
2                           0.132
3                           0.040
4                           0.012
...                           ...
23458                       0.368
23459                       0.100
23460                       0.100
23461                       0.142
23462                       0.140

[23035 rows x 17 columns]