In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.window import Window
from pyspark.sql.functions import array
from pyspark.sql.functions import create_map, lit
from pyspark.sql.functions import struct
from pyspark.sql.types import StringType

In [ ]:

spark = SparkSession.builder.appName("Company").getOrCreate()

data = [
    ("James", "Sales", 3000, 28, 2),
    ("Michael", "Sales", 4600, 35, 5),
    ("Robert", "Sales", 4100, 29, 3),
    ("Maria", "Finance", 3000, 32, 4),
    ("Rina", "Finance", 4200, 41, 10),
    ("John", "Finance", 3900, 27, 2),
    ("Tono", "HR", 2800, 26, 1),
    ("Sinta", "HR", 3500, 33, 7),
    ("Budi", "HR", 4000, 38, 12),
    ("Agus", "IT", 5000, 30, 6),
    ("Ayu", "IT", 5500, 34, 8),
    ("Andi", "IT", 6000, 40, 10),
    ("Putri", "IT", 4500, 27, 3),
    ("Yoga", "Marketing", 3100, 29, 2),
    ("Dewi", "Marketing", 3700, 36, 6),
    ("Riko", "Marketing", 3300, 31, 4),
    ("Tari", "Marketing", 4200, 42, 15),
    ("Dian", "Sales", 3900, 26, 1),
    ("Eko", "Finance", 4700, 37, 9),
    ("Wulan", "HR", 3600, 28, 4)
]

columns = ["EmployeeName", "Department", "Salary", "Age", "YearsAtCompany"]

df = spark.createDataFrame(data, schema=columns)

df.show(20)

+------------+----------+------+---+--------------+
|EmployeeName|Department|Salary|Age|YearsAtCompany|
+------------+----------+------+---+--------------+
|       James|     Sales|  3000| 28|             2|
|     Michael|     Sales|  4600| 35|             5|
|      Robert|     Sales|  4100| 29|             3|
|       Maria|   Finance|  3000| 32|             4|
|        Rina|   Finance|  4200| 41|            10|
|        John|   Finance|  3900| 27|             2|
|        Tono|        HR|  2800| 26|             1|
|       Sinta|        HR|  3500| 33|             7|
|        Budi|        HR|  4000| 38|            12|
|        Agus|        IT|  5000| 30|             6|
|         Ayu|        IT|  5500| 34|             8|
|        Andi|        IT|  6000| 40|            10|
|       Putri|        IT|  4500| 27|             3|
|        Yoga| Marketing|  3100| 29|             2|
|        Dewi| Marketing|  3700| 36|             6|
|        Riko| Marketing|  3300| 31|             4|
|        Tari| Marketing|  4200| 42|            15|
|        Dian|     Sales|  3900| 26|             1|
|         Eko|   Finance|  4700| 37|             9|
|       Wulan|        HR|  3600| 28|             4|
+------------+----------+------+---+--------------+

In [ ]:
df.groupBy("Department").agg(
    F.count("*").alias("TotalEmployees"),
    F.avg("Salary").alias("AvgSalary"),
    F.max("Salary").alias("MaxSalary"),
    F.min("Salary").alias("MinSalary"),
    F.avg("Age").alias("AvgAge")
).show()

for dept in df.select("Department").distinct().collect():
    dept_name = dept["Department"]
    print(f"\n=== Data Karyawan Departemen: {dept_name} ===")
    df.filter(df["Department"] == dept_name).select(
        "Department",
        "EmployeeName",
        "Salary",
    ).show()

+----------+--------------+---------+---------+---------+------+
|Department|TotalEmployees|AvgSalary|MaxSalary|MinSalary|AvgAge|
+----------+--------------+---------+---------+---------+------+
|     Sales|             4|   3900.0|     4600|     3000|  29.5|
|        HR|             4|   3475.0|     4000|     2800| 31.25|
|   Finance|             4|   3950.0|     4700|     3000| 34.25|
|        IT|             4|   5250.0|     6000|     4500| 32.75|
| Marketing|             4|   3575.0|     4200|     3100|  34.5|
+----------+--------------+---------+---------+---------+------+


=== Data Karyawan Departemen: Sales ===
+----------+------------+------+
|Department|EmployeeName|Salary|
+----------+------------+------+
|     Sales|       James|  3000|
|     Sales|     Michael|  4600|
|     Sales|      Robert|  4100|
|     Sales|        Dian|  3900|
+----------+------------+------+


=== Data Karyawan Departemen: HR ===
+----------+------------+------+
|Department|EmployeeName|Salary|
+----------+------------+------+
|        HR|        Tono|  2800|
|        HR|       Sinta|  3500|
|        HR|        Budi|  4000|
|        HR|       Wulan|  3600|
+----------+------------+------+


=== Data Karyawan Departemen: Finance ===
+----------+------------+------+
|Department|EmployeeName|Salary|
+----------+------------+------+
|   Finance|       Maria|  3000|
|   Finance|        Rina|  4200|
|   Finance|        John|  3900|
|   Finance|         Eko|  4700|
+----------+------------+------+


=== Data Karyawan Departemen: IT ===
+----------+------------+------+
|Department|EmployeeName|Salary|
+----------+------------+------+
|        IT|        Agus|  5000|
|        IT|         Ayu|  5500|
|        IT|        Andi|  6000|
|        IT|       Putri|  4500|
+----------+------------+------+


=== Data Karyawan Departemen: Marketing ===
+----------+------------+------+
|Department|EmployeeName|Salary|
+----------+------------+------+
| Marketing|        Yoga|  3100|
| Marketing|        Dewi|  3700|
| Marketing|        Riko|  3300|
| Marketing|        Tari|  4200|
+----------+------------+------+

In [ ]:
df = df.withColumn("Bonus", df["Salary"] * 0.15)
df = df.withColumn("TotalSalary", df["Salary"] + df["Bonus"])
df.show(20)

df1 = df.withColumn("Experience", array("Department", "YearsAtCompany")).orderBy("Department", "YearsAtCompany")
df1.show(truncate=False)

df2 = df.withColumn("Profile", create_map(lit("EmployeeName"), df["EmployeeName"], lit("Department"), df["Department"])).orderBy("Department")
df2.show(truncate=False)

df3 = df.withColumn("ComponentSalary", struct("Salary", "Bonus")).orderBy("Department")
df3.show(truncate=False)

+------------+----------+------+---+--------------+-----+-----------+
|EmployeeName|Department|Salary|Age|YearsAtCompany|Bonus|TotalSalary|
+------------+----------+------+---+--------------+-----+-----------+
|       James|     Sales|  3000| 28|             2|450.0|     3450.0|
|     Michael|     Sales|  4600| 35|             5|690.0|     5290.0|
|      Robert|     Sales|  4100| 29|             3|615.0|     4715.0|
|       Maria|   Finance|  3000| 32|             4|450.0|     3450.0|
|        Rina|   Finance|  4200| 41|            10|630.0|     4830.0|
|        John|   Finance|  3900| 27|             2|585.0|     4485.0|
|        Tono|        HR|  2800| 26|             1|420.0|     3220.0|
|       Sinta|        HR|  3500| 33|             7|525.0|     4025.0|
|        Budi|        HR|  4000| 38|            12|600.0|     4600.0|
|        Agus|        IT|  5000| 30|             6|750.0|     5750.0|
|         Ayu|        IT|  5500| 34|             8|825.0|     6325.0|
|        Andi|        IT|  6000| 40|            10|900.0|     6900.0|
|       Putri|        IT|  4500| 27|             3|675.0|     5175.0|
|        Yoga| Marketing|  3100| 29|             2|465.0|     3565.0|
|        Dewi| Marketing|  3700| 36|             6|555.0|     4255.0|
|        Riko| Marketing|  3300| 31|             4|495.0|     3795.0|
|        Tari| Marketing|  4200| 42|            15|630.0|     4830.0|
|        Dian|     Sales|  3900| 26|             1|585.0|     4485.0|
|         Eko|   Finance|  4700| 37|             9|705.0|     5405.0|
|       Wulan|        HR|  3600| 28|             4|540.0|     4140.0|
+------------+----------+------+---+--------------+-----+-----------+

+------------+----------+------+---+--------------+-----+-----------+---------------+
|EmployeeName|Department|Salary|Age|YearsAtCompany|Bonus|TotalSalary|Experience     |
+------------+----------+------+---+--------------+-----+-----------+---------------+
|John        |Finance   |3900  |27 |2             |585.0|4485.0     |[Finance, 2]   |
|Maria       |Finance   |3000  |32 |4             |450.0|3450.0     |[Finance, 4]   |
|Eko         |Finance   |4700  |37 |9             |705.0|5405.0     |[Finance, 9]   |
|Rina        |Finance   |4200  |41 |10            |630.0|4830.0     |[Finance, 10]  |
|Tono        |HR        |2800  |26 |1             |420.0|3220.0     |[HR, 1]        |
|Wulan       |HR        |3600  |28 |4             |540.0|4140.0     |[HR, 4]        |
|Sinta       |HR        |3500  |33 |7             |525.0|4025.0     |[HR, 7]        |
|Budi        |HR        |4000  |38 |12            |600.0|4600.0     |[HR, 12]       |
|Putri       |IT        |4500  |27 |3             |675.0|5175.0     |[IT, 3]        |
|Agus        |IT        |5000  |30 |6             |750.0|5750.0     |[IT, 6]        |
|Ayu         |IT        |5500  |34 |8             |825.0|6325.0     |[IT, 8]        |
|Andi        |IT        |6000  |40 |10            |900.0|6900.0     |[IT, 10]       |
|Yoga        |Marketing |3100  |29 |2             |465.0|3565.0     |[Marketing, 2] |
|Riko        |Marketing |3300  |31 |4             |495.0|3795.0     |[Marketing, 4] |
|Dewi        |Marketing |3700  |36 |6             |555.0|4255.0     |[Marketing, 6] |
|Tari        |Marketing |4200  |42 |15            |630.0|4830.0     |[Marketing, 15]|
|Dian        |Sales     |3900  |26 |1             |585.0|4485.0     |[Sales, 1]     |
|James       |Sales     |3000  |28 |2             |450.0|3450.0     |[Sales, 2]     |
|Robert      |Sales     |4100  |29 |3             |615.0|4715.0     |[Sales, 3]     |
|Michael     |Sales     |4600  |35 |5             |690.0|5290.0     |[Sales, 5]     |
+------------+----------+------+---+--------------+-----+-----------+---------------+

+------------+----------+------+---+--------------+-----+-----------+-----------------------------------------------+
|EmployeeName|Department|Salary|Age|YearsAtCompany|Bonus|TotalSalary|Profile                                        |
+------------+----------+------+---+--------------+-----+-----------+-----------------------------------------------+
|Maria       |Finance   |3000  |32 |4             |450.0|3450.0     |{EmployeeName -> Maria, Department -> Finance} |
|Eko         |Finance   |4700  |37 |9             |705.0|5405.0     |{EmployeeName -> Eko, Department -> Finance}   |
|Rina        |Finance   |4200  |41 |10            |630.0|4830.0     |{EmployeeName -> Rina, Department -> Finance}  |
|John        |Finance   |3900  |27 |2             |585.0|4485.0     |{EmployeeName -> John, Department -> Finance}  |
|Wulan       |HR        |3600  |28 |4             |540.0|4140.0     |{EmployeeName -> Wulan, Department -> HR}      |
|Tono        |HR        |2800  |26 |1             |420.0|3220.0     |{EmployeeName -> Tono, Department -> HR}       |
|Sinta       |HR        |3500  |33 |7             |525.0|4025.0     |{EmployeeName -> Sinta, Department -> HR}      |
|Budi        |HR        |4000  |38 |12            |600.0|4600.0     |{EmployeeName -> Budi, Department -> HR}       |
|Ayu         |IT        |5500  |34 |8             |825.0|6325.0     |{EmployeeName -> Ayu, Department -> IT}        |
|Agus        |IT        |5000  |30 |6             |750.0|5750.0     |{EmployeeName -> Agus, Department -> IT}       |
|Andi        |IT        |6000  |40 |10            |900.0|6900.0     |{EmployeeName -> Andi, Department -> IT}       |
|Putri       |IT        |4500  |27 |3             |675.0|5175.0     |{EmployeeName -> Putri, Department -> IT}      |
|Yoga        |Marketing |3100  |29 |2             |465.0|3565.0     |{EmployeeName -> Yoga, Department -> Marketing}|
|Dewi        |Marketing |3700  |36 |6             |555.0|4255.0     |{EmployeeName -> Dewi, Department -> Marketing}|
|Riko        |Marketing |3300  |31 |4             |495.0|3795.0     |{EmployeeName -> Riko, Department -> Marketing}|
|Tari        |Marketing |4200  |42 |15            |630.0|4830.0     |{EmployeeName -> Tari, Department -> Marketing}|
|James       |Sales     |3000  |28 |2             |450.0|3450.0     |{EmployeeName -> James, Department -> Sales}   |
|Dian        |Sales     |3900  |26 |1             |585.0|4485.0     |{EmployeeName -> Dian, Department -> Sales}    |
|Michael     |Sales     |4600  |35 |5             |690.0|5290.0     |{EmployeeName -> Michael, Department -> Sales} |
|Robert      |Sales     |4100  |29 |3             |615.0|4715.0     |{EmployeeName -> Robert, Department -> Sales}  |
+------------+----------+------+---+--------------+-----+-----------+-----------------------------------------------+

+------------+----------+------+---+--------------+-----+-----------+---------------+
|EmployeeName|Department|Salary|Age|YearsAtCompany|Bonus|TotalSalary|ComponentSalary|
+------------+----------+------+---+--------------+-----+-----------+---------------+
|Maria       |Finance   |3000  |32 |4             |450.0|3450.0     |{3000, 450.0}  |
|Eko         |Finance   |4700  |37 |9             |705.0|5405.0     |{4700, 705.0}  |
|Rina        |Finance   |4200  |41 |10            |630.0|4830.0     |{4200, 630.0}  |
|John        |Finance   |3900  |27 |2             |585.0|4485.0     |{3900, 585.0}  |
|Wulan       |HR        |3600  |28 |4             |540.0|4140.0     |{3600, 540.0}  |
|Tono        |HR        |2800  |26 |1             |420.0|3220.0     |{2800, 420.0}  |
|Sinta       |HR        |3500  |33 |7             |525.0|4025.0     |{3500, 525.0}  |
|Budi        |HR        |4000  |38 |12            |600.0|4600.0     |{4000, 600.0}  |
|Ayu         |IT        |5500  |34 |8             |825.0|6325.0     |{5500, 825.0}  |
|Agus        |IT        |5000  |30 |6             |750.0|5750.0     |{5000, 750.0}  |
|Andi        |IT        |6000  |40 |10            |900.0|6900.0     |{6000, 900.0}  |
|Putri       |IT        |4500  |27 |3             |675.0|5175.0     |{4500, 675.0}  |
|Yoga        |Marketing |3100  |29 |2             |465.0|3565.0     |{3100, 465.0}  |
|Dewi        |Marketing |3700  |36 |6             |555.0|4255.0     |{3700, 555.0}  |
|Riko        |Marketing |3300  |31 |4             |495.0|3795.0     |{3300, 495.0}  |
|Tari        |Marketing |4200  |42 |15            |630.0|4830.0     |{4200, 630.0}  |
|James       |Sales     |3000  |28 |2             |450.0|3450.0     |{3000, 450.0}  |
|Dian        |Sales     |3900  |26 |1             |585.0|4485.0     |{3900, 585.0}  |
|Michael     |Sales     |4600  |35 |5             |690.0|5290.0     |{4600, 690.0}  |
|Robert      |Sales     |4100  |29 |3             |615.0|4715.0     |{4100, 615.0}  |
+------------+----------+------+---+--------------+-----+-----------+---------------+

In [ ]:
windowSpec = Window.partitionBy("Department").orderBy(F.desc("Salary"))

df_ranked = df.withColumn("DenseRank", F.dense_rank().over(windowSpec)) \
              .withColumn("RunningTotal", F.sum("Salary").over(windowSpec))
df_ranked.show(20)

def salary_category(salary):
    if salary < 3500:
        return "Low"
    elif salary < 5000:
        return "Medium"
    else:
        return "High"

salary_udf = F.udf(salary_category, StringType())
df_catSalary = df.withColumn("SalaryCategory", salary_udf(df["Salary"]))
df_catSalary.show(20)

df_catYears = df.withColumn("YearsCategory",
    F.when(df["YearsAtCompany"] < 5, "Baru")
     .when((df["YearsAtCompany"] >= 5) & (df["YearsAtCompany"] < 10), "Menengah")
     .otherwise("Senior")
)

df_catYears.select("EmployeeName", "Department", "Age", "YearsAtCompany", "YearsCategory").orderBy("Department").show(20)

+------------+----------+------+---+--------------+-----+-----------+---------+------------+
|EmployeeName|Department|Salary|Age|YearsAtCompany|Bonus|TotalSalary|DenseRank|RunningTotal|
+------------+----------+------+---+--------------+-----+-----------+---------+------------+
|         Eko|   Finance|  4700| 37|             9|705.0|     5405.0|        1|        4700|
|        Rina|   Finance|  4200| 41|            10|630.0|     4830.0|        2|        8900|
|        John|   Finance|  3900| 27|             2|585.0|     4485.0|        3|       12800|
|       Maria|   Finance|  3000| 32|             4|450.0|     3450.0|        4|       15800|
|        Budi|        HR|  4000| 38|            12|600.0|     4600.0|        1|        4000|
|       Wulan|        HR|  3600| 28|             4|540.0|     4140.0|        2|        7600|
|       Sinta|        HR|  3500| 33|             7|525.0|     4025.0|        3|       11100|
|        Tono|        HR|  2800| 26|             1|420.0|     3220.0|        4|       13900|
|        Andi|        IT|  6000| 40|            10|900.0|     6900.0|        1|        6000|
|         Ayu|        IT|  5500| 34|             8|825.0|     6325.0|        2|       11500|
|        Agus|        IT|  5000| 30|             6|750.0|     5750.0|        3|       16500|
|       Putri|        IT|  4500| 27|             3|675.0|     5175.0|        4|       21000|
|        Tari| Marketing|  4200| 42|            15|630.0|     4830.0|        1|        4200|
|        Dewi| Marketing|  3700| 36|             6|555.0|     4255.0|        2|        7900|
|        Riko| Marketing|  3300| 31|             4|495.0|     3795.0|        3|       11200|
|        Yoga| Marketing|  3100| 29|             2|465.0|     3565.0|        4|       14300|
|     Michael|     Sales|  4600| 35|             5|690.0|     5290.0|        1|        4600|
|      Robert|     Sales|  4100| 29|             3|615.0|     4715.0|        2|        8700|
|        Dian|     Sales|  3900| 26|             1|585.0|     4485.0|        3|       12600|
|       James|     Sales|  3000| 28|             2|450.0|     3450.0|        4|       15600|
+------------+----------+------+---+--------------+-----+-----------+---------+------------+

+------------+----------+------+---+--------------+-----+-----------+--------------+
|EmployeeName|Department|Salary|Age|YearsAtCompany|Bonus|TotalSalary|SalaryCategory|
+------------+----------+------+---+--------------+-----+-----------+--------------+
|       James|     Sales|  3000| 28|             2|450.0|     3450.0|           Low|
|     Michael|     Sales|  4600| 35|             5|690.0|     5290.0|        Medium|
|      Robert|     Sales|  4100| 29|             3|615.0|     4715.0|        Medium|
|       Maria|   Finance|  3000| 32|             4|450.0|     3450.0|           Low|
|        Rina|   Finance|  4200| 41|            10|630.0|     4830.0|        Medium|
|        John|   Finance|  3900| 27|             2|585.0|     4485.0|        Medium|
|        Tono|        HR|  2800| 26|             1|420.0|     3220.0|           Low|
|       Sinta|        HR|  3500| 33|             7|525.0|     4025.0|        Medium|
|        Budi|        HR|  4000| 38|            12|600.0|     4600.0|        Medium|
|        Agus|        IT|  5000| 30|             6|750.0|     5750.0|          High|
|         Ayu|        IT|  5500| 34|             8|825.0|     6325.0|          High|
|        Andi|        IT|  6000| 40|            10|900.0|     6900.0|          High|
|       Putri|        IT|  4500| 27|             3|675.0|     5175.0|        Medium|
|        Yoga| Marketing|  3100| 29|             2|465.0|     3565.0|           Low|
|        Dewi| Marketing|  3700| 36|             6|555.0|     4255.0|        Medium|
|        Riko| Marketing|  3300| 31|             4|495.0|     3795.0|           Low|
|        Tari| Marketing|  4200| 42|            15|630.0|     4830.0|        Medium|
|        Dian|     Sales|  3900| 26|             1|585.0|     4485.0|        Medium|
|         Eko|   Finance|  4700| 37|             9|705.0|     5405.0|        Medium|
|       Wulan|        HR|  3600| 28|             4|540.0|     4140.0|        Medium|
+------------+----------+------+---+--------------+-----+-----------+--------------+

+------------+----------+---+--------------+-------------+
|EmployeeName|Department|Age|YearsAtCompany|YearsCategory|
+------------+----------+---+--------------+-------------+
|       Maria|   Finance| 32|             4|         Baru|
|         Eko|   Finance| 37|             9|     Menengah|
|        Rina|   Finance| 41|            10|       Senior|
|        John|   Finance| 27|             2|         Baru|
|       Wulan|        HR| 28|             4|         Baru|
|        Tono|        HR| 26|             1|         Baru|
|       Sinta|        HR| 33|             7|     Menengah|
|        Budi|        HR| 38|            12|       Senior|
|         Ayu|        IT| 34|             8|     Menengah|
|        Agus|        IT| 30|             6|     Menengah|
|        Andi|        IT| 40|            10|       Senior|
|       Putri|        IT| 27|             3|         Baru|
|        Yoga| Marketing| 29|             2|         Baru|
|        Dewi| Marketing| 36|             6|     Menengah|
|        Riko| Marketing| 31|             4|         Baru|
|        Tari| Marketing| 42|            15|       Senior|
|       James|     Sales| 28|             2|         Baru|
|        Dian|     Sales| 26|             1|         Baru|
|     Michael|     Sales| 35|             5|     Menengah|
|      Robert|     Sales| 29|             3|         Baru|
+------------+----------+---+--------------+-------------+

In [ ]:
from pyspark.sql import functions as SparkFuncs
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Anime").getOrCreate()

dataframe = spark.read.csv("/kaggle/dataset/archive.csv", header=True, inferSchema=True)
dataframe.show(dataframe.count())

Output hidden; open in https://colab.research.google.com to view.

In [ ]:
from pyspark.sql import functions as F
from pyspark.sql import SparkSession

top_score = dataframe.filter(dataframe["score"].isNotNull()) \
    .orderBy(F.desc("score"), F.desc("scored_by")) \
    .select("title_name", "score", "scored_by", "ranked") \
    .limit(10)

print("\n=== Top 10 Anime Skor Tertinggi ===")
top_score.show(truncate=False)

=== Top 10 Anime Skor Tertinggi ===
+----------------------------------+-----+---------+------+
|title_name                        |score|scored_by|ranked|
+----------------------------------+-----+---------+------+
|Sousou no Frieren                 |9.3  |696616.0 |1     |
|Fullmetal Alchemist: Brotherhood  |9.1  |2232236.0|2     |
|Steins;Gate                       |9.07 |1472818.0|3     |
|Shingeki no Kyojin Season 3 Part 2|9.05 |1710556.0|4     |
|Gintama°                          |9.05 |265163.0 |6     |
|Gintama: The Final                |9.05 |81382.0  |5     |
|One Piece Fan Letter              |9.04 |86983.0  |7     |
|Hunter x Hunter (2011)            |9.03 |1893615.0|8     |
|Gintama'                          |9.02 |250201.0 |10    |
|Gintama': Enchousen               |9.02 |174445.0 |11    |
+----------------------------------+-----+---------+------+

In [ ]:

type_distribution = dataframe.groupBy("item_type").count().orderBy(F.desc("count"))
print("\n=== Distribusi Tipe Anime ===")
type_distribution.show(truncate=False)

=== Distribusi Tipe Anime ===
+----------+-----+
|item_type |count|
+----------+-----+
|TV        |8322 |
|Movie     |4868 |
|OVA       |4177 |
|ONA       |4027 |
|Music     |3919 |
|Special   |1762 |
|TV Special|751  |
|CM        |468  |
|PV        |260  |
|Unknown   |72   |
|3         |1    |
|5         |1    |
|537       |1    |
|241       |1    |
|152       |1    |
|8         |1    |
|16        |1    |
|0         |1    |
|149       |1    |
+----------+-----+

In [ ]:
airing_date_clean = F.when(F.col("airing_date").contains(" to "),
                             F.regexp_extract(F.col("airing_date"), "(.+?) to", 1)).otherwise(F.col("airing_date"))

dataframe_with_year = dataframe.withColumn("year", F.year(F.to_timestamp(airing_date_clean, "MMM d, yyyy")))


max_year = dataframe_with_year.agg(F.max("year")).collect()[0][0]
min_year = max_year - 5


source_per_year = dataframe_with_year.groupBy("year", "source") \
    .agg(F.count("*").alias("total_anime")) \
    .orderBy("year", F.desc("total_anime"))

print("\n=== Jumlah Anime Berdasarkan Source per Tahun ===")
source_per_year.filter((F.col("year") >= min_year) & (F.col("year") <= max_year)).show(50,truncate=False)

=== Jumlah Anime Berdasarkan Source per Tahun ===
+----+----------------------------------+-----------+
|year|source                            |total_anime|
+----+----------------------------------+-----------+
|2020|Original                          |134        |
|2020|Manga                             |44         |
|2020|Game                              |26         |
|2020|Other                             |24         |
|2020|[]                                |23         |
|2020|Novel                             |22         |
|2020|Web manga                         |20         |
|2020|Unknown                           |17         |
|2020|Visual novel                      |14         |
|2020|Web novel                         |7          |
|2020|Light novel                       |7          |
|2020|Picture book                      |6          |
|2020|Mixed media                       |6          |
|2020| ""Kadokawa Media House""         |6          |
|2020|"[""Funimation""]"                |6          |
|2020|"[""Blue bread""]"                |5          |
|2020| ""Sammy""                        |4          |
|2020| ""Tokyo MX""                     |4          |
|2020| ""AQUA ARIS""]"                  |3          |
|2020| ""BS Fuji""                      |3          |
|2020| ""KlockWorx""                    |3          |
|2020|4-koma manga                      |3          |
|2020|Music                             |3          |
|2020| ""BS11""                         |3          |
|2020| ""Studio Mausu""                 |2          |
|2020| ""DMM.futureworks""]"            |2          |
|2020|"[""Sunrise""]"                   |2          |
|2020| ""Kadokawa""                     |2          |
|2020|"[""Zexcs""]"                     |2          |
|2020|Card game                         |2          |
|2020| ""Hakuhodo DY Music & Pictures"" |2          |
|2020|"[""P.A. Works""                  |2          |
|2020| ""AT-X""                         |2          |
|2020| ""Good Smile Company""           |2          |
|2020|"[""Aniplex of America""]"        |2          |
|2020|"[""Foch Film""]"                 |2          |
|2020| ""Movic""                        |2          |
|2020| ""Bandai Namco Arts""]"          |2          |
|2020| ""DMM Music""]"                  |2          |
|2020| ""Avex Pictures""                |2          |
|2020| ""TOHO animation""               |2          |
|2020|"[""Doga Kobo""]"                 |2          |
|2020| ""GARDEN Culture""]"             |2          |
|2020| ""dugout""                       |2          |
|2020| ""Sony Music Entertainment""     |2          |
|2020| ""Docomo Anime Store""           |2          |
|2020|"[""T-Rex""]"                     |2          |
|2020| ""Lucent Pictures Entertainment""|1          |
|2020| ""Wonder Cat Animation""]"       |1          |
|2020|"[""VIZ Media""]"                 |1          |
+----+----------------------------------+-----------+
only showing top 50 rows

In [ ]:
df_genre = dataframe_with_year.withColumn("genre_array", F.split(F.col("genres"), ", "))
df_genre = df_genre.withColumn("genre", F.explode("genre_array"))

genre_per_year = df_genre.groupBy("year", "genre") \
    .agg(F.count("*").alias("total_anime")) \
    .orderBy("year", F.desc("total_anime"))

print(f"\n=== Tren Genre Anime per Tahun ({min_year}–{max_year}) ===")
genre_per_year.filter((F.col("year") >= min_year) & (F.col("year") <= max_year)).show(50, truncate=False)

=== Tren Genre Anime per Tahun (2020–2025) ===
+----+-------------------------------------------+-----------+
|year|genre                                      |total_anime|
+----+-------------------------------------------+-----------+
|2020|"[""Comedy""]"                             |56         |
|2020|"[""Action""                               |56         |
|2020|"[""Comedy""                               |48         |
|2020|[]                                         |39         |
|2020|"[""Adventure""                            |23         |
|2020|"[""Slice of Life""]"                      |22         |
|2020|"[""Hentai""]"                             |22         |
|2020|Manga                                      |19         |
|2020|"[""Fantasy""]"                            |17         |
|2020|"[""Fantasy""                              |12         |
|2020|Original                                   |12         |
|2020|"[""Action""]"                             |10         |
|2020|"[""Adventure""]"                          |7          |
|2020|Novel                                      |6          |
|2020|"[""Funimation""]"                         |6          |
|2020|Game                                       |6          |
|2020|Light novel                                |5          |
|2020|Web manga                                  |5          |
|2020|"[""Sci-Fi""]"                             |5          |
|2020| ""Kadokawa""                              |4          |
|2020|"[""Boys Love""                            |4          |
|2020| ""Kadokawa Media House""                  |4          |
|2020|"[""Toei Animation""]"                     |3          |
|2020| ""TOHO animation""                        |3          |
|2020|4-koma manga                               |3          |
|2020| ""BS11""                                  |3          |
|2020|Visual novel                               |3          |
|2020|"[""Children's Playground Entertainment""]"|2          |
|2020|"[""Foch Film""]"                          |2          |
|2020| ""Nagoya Broadcasting Network""           |2          |
|2020| ""ABC Animation""                         |2          |
|2020|"[""Romance""]"                            |2          |
|2020|"[""Drama""]"                              |2          |
|2020|"[""Geno Studio""]"                        |2          |
|2020|"[""Sentai Filmworks""]"                   |2          |
|2020|Web novel                                  |2          |
|2020|Card game                                  |2          |
|2020| ""Hakuhodo DY Music & Pictures""          |2          |
|2020| ""Studio Mausu""                          |2          |
|2020|"[""Aniplex of America""]"                 |2          |
|2020| ""RAY""                                   |2          |
|2020| ""DMM Music""]"                           |2          |
|2020|"[""Slice of Life""                        |2          |
|2020|"[""Drama""                                |2          |
|2020| ""Amuse""                                 |2          |
|2020| ""Tokyo MX""                              |2          |
|2020| ""Studio 3Hz""]"                          |2          |
|2020| ""Kadokawa""]"                            |2          |
|2020|Other                                      |2          |
|2020|"[""Sports""]"                             |2          |
+----+-------------------------------------------+-----------+
only showing top 50 rows

In [ ]:
genre_count = df_genre.groupBy("genre") \
    .agg(F.count("*").alias("total_anime")) \
    .orderBy(F.desc("total_anime"))

print("\n=== Jumlah Anime per Genre ===")
genre_count.show(50, truncate=False)

=== Jumlah Anime per Genre ===
+---------------------------------+-----------+
|genre                            |total_anime|
+---------------------------------+-----------+
|[]                               |5880       |
|"[""Action""                     |2625       |
|"[""Comedy""]"                   |2216       |
|"[""Comedy""                     |1840       |
|"[""Adventure""                  |1427       |
|"[""Fantasy""]"                  |1362       |
|"[""Hentai""]"                   |959        |
|Manga                            |943        |
|Original                         |779        |
|"[""Avant Garde""]"              |768        |
|"[""Drama""]"                    |644        |
|"[""Slice of Life""]"            |636        |
|"[""Drama""                      |497        |
|"[""Action""]"                   |486        |
|"[""Adventure""]"                |413        |
|"[""Sci-Fi""]"                   |341        |
|"[""Sports""]"                   |284        |
|"[""Fantasy""                    |278        |
|Visual novel                     |218        |
|"[""Romance""]"                  |217        |
|Game                             |199        |
|"[""Avant Garde""                |193        |
|Unknown                          |158        |
|Light novel                      |141        |
|Novel                            |126        |
|"[""Supernatural""]"             |122        |
|Other                            |114        |
|"[""Funimation""]"               |95         |
|Web manga                        |93         |
|"[""Boys Love""                  |91         |
|"[""Sentai Filmworks""]"         |90         |
|"[""Horror""                     |73         |
|4-koma manga                     |71         |
|"[""Sci-Fi""                     |61         |
|"[""Award Winning""              |59         |
|"[""Horror""]"                   |58         |
|"[""Mystery""                    |54         |
| ""Kadokawa""                    |54         |
|Web novel                        |49         |
|"[""Mystery""]"                  |49         |
|"[""Gourmet""]"                  |48         |
| ""BS11""                        |46         |
|"[""Sunrise""]"                  |46         |
|"[""Madhouse""]"                 |45         |
|"[""Ecchi""]"                    |39         |
| ""Crunchyroll""                 |38         |
| ""Tokyo MX""                    |36         |
|"[""Romance""                    |36         |
| ""Hakuhodo DY Music & Pictures""|34         |
| ""KlockWorx""                   |33         |
+---------------------------------+-----------+
only showing top 50 rows